@import "../../styles/_vk-vars.scss";
@import "../../styles/_mixins.scss";
@import "../../styles/font-awesome/_variables.scss";
@import "../../styles/font-awesome/_mixins.scss";

html, body {
    height: 100%;
}

.content {
    height: 100%;
}

.app {
    height: 100%;
    
    @include header-content;
    
    &__header, &__download-info {
        @include content;
    }
    
    &__content {
        @include content-fill;
    }
    
    &__tab {
        @include abs-fill-parent;
    }
}

.tab-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: $font-size-small;
    color: $color-inactive;
    padding: $space $space-large;
    
    &.active {
        color: $blue-color;        
    }
    
    &:before {
        @include fa-icon();
        
        display: inline-block;
        font-size: 3em;
        width: 1em;
        height: 1em;
    }
    
    &.my-audio:before {
       content: '#{$fa-var-star-o}';         
    }
    
    &.search-audio:before {
        content: '#{$fa-var-search}';
    }
}

tab.app__tab .tab__header {
    border-top: 1px solid $color-border;
}

.audio-page {    
    @include abs-fill-parent;
    
    margin: $space;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    & > * {
        flex-grow: 0;
        flex-shrink: 0;
    }
    
    & > my-audio, & > search-audio {
        flex-grow: 1;
        flex-shrink: 1;
    }
    
    header {
        margin-bottom: $space;
    }
    
    download-info {
        margin-bottom: $space;
    }
}

my-audio, search-audio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    & > * {
        flex-grow: 0;
        flex-shrink: 0; 
    }
    
    & > audio-list {
        flex-grow: 1;
        flex-shrink: 1;
    }
}