@import "../../styles/_vk-vars.scss";
@import "../../styles/_mixins.scss";
@import "../../styles/font-awesome/_variables.scss";
@import "../../styles/font-awesome/_mixins.scss";

audio-record {
    display: block;
    padding: $space;   
}

.audio-record-duration {
    color: $color-inactive;
}

.audio-record-headline {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: $space;
    
    &__content {
        flex-grow: 1;
        flex-shrink: 1;
    }        
    
    &__badge {
        flex-grow: 0;
        flex-shrink: 0;
        margin-left: $space;
    }
}

.audio-record-title {
    color: $blue-color;
    
    &__artist {
        font-weight: bold;
    }
}

.audio-record-badges {
    margin-bottom: $space;
}

.audio-record-badge {
    display: inline-block;
    border-radius: 2px;
    font-size: $font-size-x-small;
    line-height: 1.8em;
    padding: 0 0.6em;
    color: #fff;    
    
    &__text, &__icon {
        vertical-align: middle;
    }
    
    &__text {
        text-transform: uppercase;
    }
    
    &.my-audio {
        background: #cfcfcf;
    }
    
    &.on-device {
        background: #FF964A;
    }
    
    &.file-size {
        background: #30ca00;
    }
    
    &.bitrate {
        background: #ff3333;
    }
}