@import "../../styles/_vk-vars.scss";
@import "../../styles/_mixins.scss";
@import "../../styles/font-awesome/_variables.scss";
@import "../../styles/font-awesome/_mixins.scss";

list {
    overflow-x: hidden;
    overflow-y: auto;
}

.list-item {
    border-bottom: 1px solid $color-border;
    position: relative;
    
    &__selection-overlay {
        @include abs-fill-parent;
    }
}

.list-item__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    & > * {
        flex-grow: 1;
        flex-shrink: 1;
    }
    
    & > .list-item__selector {
        flex-grow: 0;
        flex-shrink: 0;
    }
    
    
}

.list-item__selector {
    display: inline-block;
    font-size: $font-size-large;
    color: $color-inactive;
    padding: $space;
    
    &.placeholder {
        color: white;        
        padding-left: 0;
        padding-right: 0;
        width: 1px;
    }
}