@import "../../styles/_mixins.scss";

tab {
    position: relative;    
}

.tab {
    @include abs-fill-parent;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    &__header {
        flex-grow: 0;
        flex-shrink: 0;
        order: 1;
        
        display: flex;
        justify-content: center;
    }
    
    &__tab-container {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 100%;
        
        position: relative;
        overflow: hidden;
    }
    
    &__content {
        @include abs-fill-parent;
    }
}