/* Contains variables for https://vk.com styles */

$font-family: Lucida Grande, Arial, tahoma, verdana, sans-serif;
$font-size: 12px;
$font-size-small: 10px;
$font-size-large: 18px;

$blue-color: #2B587A;
$color-inactive: #999;
$color-background-hover: #E9EDF1;
$color-border: #DAE1E8;