@import "_reset";
@import "../scripts/components/ProgressBarComponent";
@import "../scripts/components/TabComponent";
@import "../scripts/components/AppComponent";

@import "_vk-vars";

html {
    -webkit-user-select: none;
    font-family: $font-family;
    font-size: $font-size;
}

.body {
    color: $blue-color;
}

a, a:link, a:visited, a:hover, a:target {
    color: $blue-color;
    text-decoration: none;        
}