@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

progress-bar {
  display: block; }

.progress-bar {
  overflow: hidden;
  position: relative;
  height: 3px; }
  .progress-bar__progress-indicator {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: #33FF33; }

/* Contains variables for https://vk.com styles */
tab {
  position: relative; }

.tab {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .tab__header {
    flex-grow: 0;
    flex-shrink: 0;
    order: 1;
    display: flex;
    justify-content: center; }
  .tab__tab-container {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    position: relative;
    overflow: hidden; }
  .tab__content {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0; }

tab-item__content {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0; }

/* Contains variables for https://vk.com styles */
/* Contains variables for https://vk.com styles */
html, body {
  height: 100%; }

.content {
  height: 100%; }

.app {
  height: 100%;
  display: flex;
  flex-direction: column; }
  .app__header, .app__download-info {
    flex-grow: 1;
    flex-shrink: 1; }
  .app__content {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 100%;
    position: relative; }
  .app__tab {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0; }

.tab-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  color: #999;
  padding: 0.3em 1em; }
  .tab-button.active {
    color: #2B587A; }
  .tab-button:before {
    display: inline-block;
    font: normal normal normal 14px / 1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-size: 3em;
    width: 1em;
    height: 1em; }
  .tab-button.my-audio:before {
    content: ""; }
  .tab-button.search-audio:before {
    content: ""; }

tab.app__tab .tab__header {
  border-top: 1px solid #DAE1E8; }

.audio-page {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }
  .audio-page > * {
    flex-grow: 0;
    flex-shrink: 0; }
  .audio-page > my-audio, .audio-page > search-audio {
    flex-grow: 1;
    flex-shrink: 1; }
  .audio-page header {
    margin-bottom: 0.3em; }
  .audio-page download-info {
    margin-bottom: 0.3em; }

my-audio, search-audio {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }
  my-audio > *, search-audio > * {
    flex-grow: 0;
    flex-shrink: 0; }
  my-audio > audio-list, search-audio > audio-list {
    flex-grow: 1;
    flex-shrink: 1; }

/* Contains variables for https://vk.com styles */
/* Contains variables for https://vk.com styles */
header {
  padding: 0.3em;
  font-size: 18px;
  text-transform: uppercase;
  color: #2B587A; }

.header__separator {
  color: #E9EDF1; }

.header__sub-title {
  color: #999; }

/* Contains variables for https://vk.com styles */
/* Contains variables for https://vk.com styles */
audio-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }
  audio-list > * {
    flex-grow: 0;
    flex-shrink: 0; }
  audio-list > list {
    flex-grow: 1;
    flex-shrink: 1; }

.audio-list__button-panel {
  padding: 0.3em; }
  .audio-list__button-panel > button {
    margin-right: 0.3em; }

.audio-list__list {
  border-top: 1px solid #DAE1E8; }

/* Contains variables for https://vk.com styles */
/* Contains variables for https://vk.com styles */
list {
  overflow-x: hidden;
  overflow-y: auto; }

.list-item {
  border-bottom: 1px solid #DAE1E8;
  position: relative; }
  .list-item__selection-overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0; }

.list-item__container {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .list-item__container > * {
    flex-grow: 1;
    flex-shrink: 1; }
  .list-item__container > .list-item__selector {
    flex-grow: 0;
    flex-shrink: 0; }

.list-item__selector {
  display: inline-block;
  font-size: 18px;
  color: #999;
  padding: 0.3em; }
  .list-item__selector.placeholder {
    color: white;
    padding-left: 0;
    padding-right: 0;
    width: 1px; }

/* Contains variables for https://vk.com styles */
/* Contains variables for https://vk.com styles */
search-audio search-box {
  margin: 0.3em; }

/* Contains variables for https://vk.com styles */
/* Contains variables for https://vk.com styles */
search-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #DAE1E8;
  border-radius: 3px;
  padding: 0.3em; }
  search-box > * {
    flex-grow: 0;
    flex-shrink: 0;
    vertical-align: middle; }
  search-box::before {
    display: inline-block;
    font: normal normal normal 14px / 1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "";
    color: #999;
    margin: 0.3em 0.6em 0.3em; }

.search-box__input {
  flex-grow: 1;
  border: 0 none;
  outline: 0 none; }

/* Contains variables for https://vk.com styles */
/* Contains variables for https://vk.com styles */
audio-record {
  display: block;
  padding: 0.3em; }

.audio-record-duration {
  color: #999; }

.audio-record-headline {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.3em; }
  .audio-record-headline__content {
    flex-grow: 1;
    flex-shrink: 1; }
  .audio-record-headline__badge {
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 0.3em; }

.audio-record-title {
  color: #2B587A; }
  .audio-record-title__artist {
    font-weight: bold; }

.audio-record-badges {
  margin-bottom: 0.3em; }

.audio-record-badge {
  display: inline-block;
  border-radius: 2px;
  font-size: 8px;
  line-height: 1.8em;
  padding: 0 0.6em;
  color: #fff; }
  .audio-record-badge__text, .audio-record-badge__icon {
    vertical-align: middle; }
  .audio-record-badge__text {
    text-transform: uppercase; }
  .audio-record-badge.my-audio {
    background: #c0c0c0; }
  .audio-record-badge.on-device {
    background: #FF964A; }
  .audio-record-badge.file-size {
    background: #30ca00; }
  .audio-record-badge.bitrate {
    background: #ff3333; }

.audio-record-download-progress {
  font-size: 10px; }

/* Contains variables for https://vk.com styles */
/* Contains variables for https://vk.com styles */
.download-info__content {
  padding: 0 0.3em; }

.download-info__title {
  color: #999;
  margin-bottom: 0.3em; }

.download-info__current-progress {
  margin-bottom: 0.3em; }

.download-info__total-progress .progress-bar__progress-indicator {
  background: #33cc33; }

/* Contains variables for https://vk.com styles */
html {
  -webkit-user-select: none;
  font-family: Lucida Grande, Arial, tahoma, verdana, sans-serif;
  font-size: 12px; }

.body {
  color: #2B587A; }

a, a:link, a:visited, a:hover, a:target {
  color: #2B587A;
  text-decoration: none; }

button {
  border: 0 none;
  outline: 0 none;
  padding: 4px 8px;
  background: #597DA3;
  border-radius: 2px;
  color: white;
  font-size: 12px;
  font-weight: normal; }

button:disabled {
  background: #999; }

